@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.next-video{
    display: flex;
    margin: 1rem 0;

}

.next-left{
    margin-right: 1rem;
    &__image{
        width: 7.7rem;
        height: 4.4rem;
        object-fit: cover;
        object-position: 20% 30%;
        background-color: $mercury;
        border-radius: 0.25rem;
        border: 0;
    }

}

.next-right{
    @include mobile-body-font;
    max-width: 10rem;

    @include tablet{
        @include tablet-body-font;
        width: 10rem;
    }

    &__title{
        @include sub-head-mobile;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
       
    }

    &__name{
        margin-top: 1rem;

        @include tablet{
            margin-top: 0.45rem;
        }
    }

}