
@font-face {
    font-family: 'Avenir Next';
    src: url('../../assets/font/AvenirNextLTPro-Regular.otf') format('opentype'),
         url("../../assets/font/additional-font/AvenirNextLTPro.ttf")format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('../../assets/font/AvenirNextLTPro-Bold.otf') format('opentype'), 
         url("../../assets/font/additional-font/AvenirNextLTProBold.ttf")format("truetype");
    font-weight: 700;
}

$blue: #0095FF;
$black: #323232;
$silver: #AFAFAF;

$darkblack: #000000;
$darkblue: #0065AD;
$mercury: #E1E1E1;
$alabaster: #FAFAFA;

$font-regular: 'Avenir Next LT Pro', 'Arial';

$body-font-mobile: 0.813rem;
$body-line-height-mobile: 1.125rem;
$head-font-mobile: 1.5rem;
$sec-head-font-mobile: 0.75rem;
$sub-head-font-mobile: 0.813rem;
$label-mobile: 0.625rem;

$body-font-tablet: 0.875rem;
$body-line-height-tablet: 1.375rem;
$head-font-tablet: 2.063rem;
$sec-head-font-tablet: 0.75rem;
$sub-head-font-tablet: 0.875rem;
$label-tablet: 0.75rem;













