// @import url('../../assets/font/AvenirNextLTPro-Regular.otf');
// @import url('../../assets/font/AvenirNextLTPro-Bold.otf');

@font-face {
    font-family: 'Avenir Next';
    src: url('../../assets/font/AvenirNextLTPro-Regular.otf');
    font-weight: 400;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('../../assets/font/AvenirNextLTPro-Bold.otf');
    font-weight: 700;
}

$blue: #0095FF;
$black: #323232;
$silver: #AFAFAF;

$darkblack: #000000;
$darkblue: #0065AD;
$mercury: #E1E1E1;
$alabaster: #FAFAFA;

$font-regular: 'Avenir Next', 'Arial';






