@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;


.comments-sec {
    margin: 0 1rem 1rem 1rem;
    display: flex;

    @include tablet {
        margin-left: 2.25rem;
        margin-right: 2.25rem;
    }

    @include desktop {
        margin-left: 22rem;
        margin-right: 22rem;
    }

    &__profile {
        margin-right: 1rem;
        margin-top: 3rem;

        @include tablet{
            margin-top: 2rem;
        }

        .profile__icon {
            background-color: $mercury;
            object-fit: cover;
            object-position: 20% 80%;
            height: 2.25rem;
            width: 2.25rem;
            border-radius: 50%;
            display: inline-block;

            @include tablet {
                height: 3rem;
                width: 3rem;
            }

        }
    }

    &__form {
        width: 100%;

        .form {
            display: flex;
            flex-direction: column;

            @include tablet{
                flex-direction: row;
                align-items: flex-end;
            }

            &-button {
                text-align: right;
               
                @include tablet{
                    width: 15rem;
                }

                &__submit {
                    height: 2.5rem;
                    width: 100%;
                    margin: 1rem 0 0 0;
                    padding: 0.75rem 2rem;
                    background-color: $blue;
                    color: white;
                    font-size: $body-font-mobile;
                    border-radius: 0.25rem;
                    border: 0;
                    -webkit-text-stroke-width: 0.8px;
                    -webkit-text-stroke-color: white;

                    @include tablet {
                        font-size: $body-font-tablet;
                        margin-top: 1.5rem;
                        padding: 0.7rem 2.5rem 1rem 2.5rem;
                    }

                    &:hover {
                        background-color: $darkblue;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

.form-area{

    display: flex;
    flex-direction: column;
    width: 100%;

    @include tablet{
        margin-right: 1.5rem;
    }

    &__comment {
        @include mobile-body-font;
        color: $silver;
        margin-bottom: 0.25rem;
        margin-top: 1rem;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: $silver;
    }

    &-input__comment {
        height: 6rem;
        resize: none;
        border-radius: 0.25rem;
        padding: 0.75rem;
        border: 1px solid $mercury;
        background-color: $alabaster;

        @include tablet {
            height: 2.5rem;
            padding: 0.67rem 0.875rem 0.875rem 0.875rem;
        }

        &:focus {
            outline-color: $blue;
        }

        &:invalid {
            border: 1px solid #D22D2D;

        }

        &::placeholder {
            color: $black;
        }
    }
}

.btn__icon{
    position: absolute;
    margin-left: 0.8rem;
    margin-top: 1.5rem;

    @include tablet{
        margin-left: 0.6rem;
        margin-top: 2rem;
    }
}