@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.upload-form {
    margin: 1rem;
    display: flex;
    flex-direction: column;

    @include tablet {
        margin: -1rem 2.25rem 2rem 2.25rem;
    }

    @include desktop {
        width: 100%;
        margin: 0 9rem 2rem 1.75rem;

    }

    &__labels {
        font-size: 0.625rem;
        color: $silver;
        margin-bottom: 0.25rem;
        font-weight: bold;

        &:last-of-type {
            margin-top: 1rem;

            @include desktop {
                margin-top: 2rem;
            }
        }

        @include tablet {
            font-size: $label-tablet;
        }
    }

    &__title {
        @include mobile-body-font;
        height: 2.25rem;
        border-radius: 0.25rem;
        padding: 0.75rem;
        border: 1px solid $mercury;
        background-color: $alabaster;

        &:focus {
            outline-color: $blue;
        }

        &::placeholder {
            color: $darkblack;
        }

        @include tablet {
            @include tablet-body-font;
            height: 2.5rem;
            padding: 1rem;
        }
    }

    &__desc {
        @include mobile-body-font;
        height: 6rem;
        resize: none;
        border-radius: 0.25rem;
        padding: 0.75rem;
        border: 1px solid $mercury;
        background-color: $alabaster;

        &:focus {
            outline-color: $blue;
        }

        &::placeholder {
            color: $darkblack;
        }

        @include tablet {
            @include tablet-body-font;
            padding-left: 1rem;
        }

        @include desktop {
            height: 7.7rem;

        }

    }
}