@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;


.hero__video{
    text-align: center;
    
    @include tablet{
        padding: 0 2rem;
        background-color: black;
    }

    @include desktop{
        padding: 0 4.5rem;
    }

    .video{
        width: 100%;
        aspect-ratio: 3/2;
        object-fit: cover;
        background-color: $black;

        @include tablet{
            max-width: 45rem;
        }

        @include desktop{
            max-width: 62rem;
        }
    }
}