@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.comment-list{
    list-style-type: none;
    padding: 0;
}

.comment-sec{
    
    &__count{
        font-weight: 700;
        margin: 1rem 1rem 0 1rem;;
        @include sub-head-mobile;

        @include tablet{
            margin: 0 0 0.5rem 2.25rem;
            @include sub-head-tablet;
        }
    }

    @include desktop{
        margin-bottom: 4rem;
    }
}



